html {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER SECTION */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  border-bottom: 1px solid seashell;
}

.header a {
  color: seashell;
}

.header .logo img {
  height: 50px;
  margin-left: 10px;
}

/* END OF HEADER SECTION */

/* MISSION BANNER */
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../resources/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  z-index: 1;
}

.mission-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 1200px;
  height: 130px;
}

.mission-text {
  text-align: center;
}
/* END OF MISSION BANNER */

/* TEA OF THE MONTH SECTION */
.tea-month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin-bottom: 20px;
}

.tea-month .title {
  text-align: center;
  margin-top: 10px;
}

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 1000px;
}

.image-box-text  {
  text-align: center;
  margin: 10px 0 10px 0;
}

.image-box-text h4 {
  margin: 0 0 0 0;
}

.image-box {
  margin-right: 20px;
}
/* END OF TEA OF THE MONTH SECTION */

/* LOCATIONS SECTION */
.locations {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 1200px;
  background-image: url("../resources/images/img-locations-background.jpg");
  justify-content: center;
  align-content: center;
  align-items: center;
}

.location-boxes-container {
  display: flex;
  justify-content: space-between;
  width: 980px;
  height: 500px;
}

.location-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
}

.location-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  font-size: 22px;
}
/* END OF LOCATIONS SECTION */

/* FOOTER AND COPYRIGHT */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 200px;
  margin-top: 20px;
}

.footer .contact {
  text-align: center;
}

.footer a {
  color: seashell;
  opacity: 0.9;
}

.copyright {
  width: 1200px;
  text-align: left;
  margin-left: 20px;
}
/* END OF FOOTER AND COPYRIGHT */
